body{
    font-family: "Open Sans" ;
    margin-left:10px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.input-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: rgb(247, 225, 125);
    align-items: center;
    padding:10px;
    
}
.input-container label{
    color:rgb(245, 118, 7);
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
.input-container input[type="number"], .input-container input[type="date"]{
    padding: 10px;
    margin-right: 15px;
}
.input-container button{
    color:white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding:10px;
    background-color: rgb(6, 146, 25);
    height:35px;
    width:70px;
    text-align: center;
    cursor: pointer;

}
.expenses-list{
    margin:20px;
}
table{
    width:100%;
    border-collapse: collapse;
}
th{
    padding:10px;
    text-align: left;
    border: 1px;
    border-style: solid;
    border-color: #ddd;

}
td{
    padding:10px;
    text-align: left;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-color: #ddd;
    
}
th{
    background-color: bisque;
    color:rgb(50, 9, 214);
}
tfoot{
    font-weight: bold;
}
.delete-btn{
    background-color: red;
    border: none;
    color:white;
    border-radius: 4px;
    cursor: pointer;
    padding:5px;
    padding-top: 10px;
    

}



